
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');





*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: "Epilogue", sans-serif;
}

main{
   /*  border: 3px solid red; */
    padding: 20px 160px;
}


section{
    padding: 16px;
}


.hero{
    /* border: 2px solid rgb(0, 255, 123); */
   
    background-image: url("./main_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 480px;
    text-align: center;
   
}

.hero__content{
    text-align: center;
    margin-top: 170px;
}


.hero__title{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.hero__subtitle{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.button{
    padding: 12px 20px;
    border-radius: 24px;
    background-color: #ED3812;
    color: #FCFAF7;
    border: none;
    margin-top: 32px;
    cursor: pointer;

}

.section--about{
    /* border: 3px solid red; */
}

.section__title{
    font-size: 22px;
    margin-bottom: 12px;
}

.section__text{
    margin-bottom: 12px;
}



.about-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-gallery__item{
    width: 16vw;
    height: 9vw;
}



.section__address,
.section__phone,
.section__email,
.section__media
{
    color: #99594D;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
}


.form{
    max-width: 480px;
    padding-left: 16px;
}

.form__label-text{
    margin-bottom: 5px;
    margin-top: 30px;
}

.form__input{
    background-color: #F5F0F0;
    border: none;
    border-radius: 15px;
    height: 50px;
    padding: 10px;
    width: 100%;
}


.form__submit{
    background-color: #E3332B;
    width: 480px;
    flex:1;
    align-items: center;
    justify-content: center;
    height: 50px;
}


.gallery{
   /*  border: 1px solid #000; */
}

.gallery-top{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.gallery__item{
    width: 11.6vw;
    height: 6.5vw;
}

.gallery__item-big{
    width: 100%;
    height: 28vw;
}


